body {
    margin: 0;
    padding: 0;
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content, 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
}

header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #772f1a;
    padding: 20px;
    height: 85px;
    color: #f58549;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.principal {
    min-height: 100vh;
    background-color: #eec170;
    padding: 20px;
    box-sizing: border-box;
}

.contenedor-logo {
    display: flex;
    align-items: center;
}

.contenedor-logo-img {
    width: 80px;
    height: auto;
}

.contenedor-logo-h1 {
    margin-left: 15px;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu-item {
    font-size: 14px;
    margin: 0 10px;
    text-transform: uppercase;
}

.nav-menu-link {
    padding: 5px;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
}

.nav-menu-link:hover {
    background-color: #eec170;
    transition: 0.5s;
}

.div-ticket {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.363);
    padding: 15px 30px;
    gap: 20px;
    align-self: baseline;
}


.div-botones-ticket{
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
    
}

.div-producto-ticket{
    display: flex;
    align-content: center;
}

.btn-sumar-ticket,.btn-restar-ticket {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    background-color: #f9f9f9;
}

.btn-sumar-ticket {
    background-image: url("../resources/img/plus-solid.svg");
}

.btn-restar-ticket {
    background-image: url("../resources/img/minus-solid.svg");
}

.btn-sumar-ticket:hover,.btn-restar-ticket:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.li-ticket {
    list-style: none;
    width: 20vw;
    padding: 5px 20px;
    color: #3d3737;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.li-ticket:hover {
    background-color: #f9f9f9;
}

.carrito {
    max-width: max-content;
    margin: 40px auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
}

