body {
    margin: 0;
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #772f1a;
    padding: 20px;
    height: 90px;
    color: #f58549;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.principal {
    background-color: #eec170;
    height: 200vh;
}

.contenedor-logo {
    display: flex;
    align-items: center;
}

.contenedor-logo-img {
    width: 80px;
    height: auto;
}

.contenedor-logo-h1 {
    margin-left: 15px;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu-item {
    font-size: 14px;
    margin: 0 10px;
    text-transform: uppercase;
}

.nav-menu-link {
    padding: 5px;
    color: white;
    text-decoration: none;
}

.nav-menu-link:hover {
    background-color: #eec170;
    transition: 0.5s;
}

/* TABLA PRODUCTOS */

/* Que main ocupe casi toda la altura y tenga scroll horizontal si hace falta */
main.main {
  padding: 20px;
  min-height: 90vh;
  overflow-x: auto;
}

/* Imagen en la tabla con tamaño fijo */
table img {
  max-width: 80px;
  height: auto;
  border-radius: 8px;
}

/* Botones estilo Bootstrap */
button.btn-modificar {
  margin-right: 5px;
  /* Clase bootstrap para botones */
}
button.btn-modificar, button.btn-eliminar {
  padding: 5px 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

/* Colores personalizados para botones */
button.btn-modificar {
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 4px;
}

button.btn-estado {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
}

button.btn-modificar:hover {
  background-color: #0b5ed7;
}

button.btn-estado:hover {
  background-color: #bb2d3b;
}