:root{
    --base-principal:#eec170;
    --base-secundario: #772f1a;
    --secundario: #f2a65a;
    --titulo: #f58549;
    --texto: #585123;
    --texto-secundario: #ffffff;
    --card-principal: whitesmoke;
    --card-sombra: #f18100;
}
.modoClaro{
    --base-principal: white;
    --base-secundario: #d9dbdb;
    --secundario: #0071ff;
    --titulo: #232738;
    --texto: #111528;
    --texto-secundario: #3a435d;
    --card-principal: whitesmoke;
    --card-sombra: #474746;
}
.modoOscuro{
    --base-principal: #070b1d;
    --base-secundario: #101425;
    --secundario: #0071ff;
    --titulo: #a4a5b8;
    --texto: #ffffff;
    --texto-secundario: #585d6b;
    --card-principal: #282733;
    --card-sombra: #9e9e9d;
}
#boton-theme{
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-secundario);
    display: flex;
    justify-content: center;
    align-items: center;
}
#boton-theme svg {
    fill: var(--base-principal);
    display: none;
}

.modoClaro #boton-theme #icono-claro {
    display: block;
}

.modoOscuro #boton-theme #icono-oscuro {
    display: block;
}

.modoJPI #boton-theme #icono-JPI {
    display: block;
}



.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content, 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
}

header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--base-secundario);
    padding: 20px;
    height: 85px;
    color: var(--titulo);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.principal {
    background-color: var(--base-principal);
    height: 100%;
}

.contenedor-logo {
    display: flex;
    align-items: center;
}

.contenedor-logo-img {
    width: 80px;
    height: auto;
}

.contenedor-logo-h1 {
    margin-left: 15px;
}

#txt_busqueda {
    border-radius: 25px;
    width: 150px;
    background: var(--base-principal);
    padding-left: 7px;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu-item {
    font-size: 14px;
    margin: 0 10px;
    text-transform: uppercase;
}

.nav-menu-link {
    padding: 5px;
    color: var(--texto-secundario);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
}

.nav-menu-link:hover {
    background-color: var(--base-principal);
    transition: 0.5s;
    
}

.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.445);
    background-color: var(--card-principal);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 9px;
    padding: 10px;
}

.card h4{
    color: var(--texto);
    font-weight: bold;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px var(--card-sombra)
}

#calzados{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px;
    justify-items: center;
}

#zapatillas, #botines{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px;
    gap: 40px;
    justify-items: center;
}

#calzados h1{
    padding: 10px;
    align-self: center;
}

.category-link {
    padding: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.category-link:hover {
    text-decoration: none;
    color: #f18100;
    transition: 0.75s;
}

.category-img {
    transition: transform 0.7s ease;
}

.card:hover .category-img {
    transform: scale(1.15);
}

.card-img-cart{
    width: 32px;
    height: auto;
}

.card-a-cart{
    display: flex;
    width: 32px;
    height: auto;
    position: absolute;
    top: 5px;
    right: 65px;
    right: calc(32px-);
    text-decoration: none;
    color: var(--texto);
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.card-a-cart:hover{
    color: var(--card-sombra);
}

.h2-cat{
    color: var(--texto);
    align-self: center;
    position: relative;
    padding: 20px;
    margin-bottom: 0px;
}