<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <title>DASHBOARD</title>
</head>

<body>
    <main class="main">
        <header class="nunito">
            <div class="contenedor-logo">
                <img src="../resources/img/imagen_logo_circular.webp" alt="logo_circular" class="contenedor-logo-img">
                <h1 class="contenedor-logo-h1">JustPickIt</h1>
            </div>
            <nav class="nav">
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a href="/" class="nav-menu-link">Dashboard</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="alta" class="nav-menu-link">Alta</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="baja" class="nav-menu-link">Baja</a>
                    </li>
                    <li class="nav-menu-item">
                        <a href="modificacion" class="nav-menu-link">Modificacion</a>
                    </li>
                </ul>
            </nav>
        </header>
    </main>
</body>

</html>