<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Ventas - JustPickIt</title>
</head>

<body>
    <header class="nunito header-nav">
        <div class="contenedor-logo-nav">
            <a href="bienvenida.html">
                <img id="contenedor-logo-img-nav" src="./resources/img/imagen_logo_circular.webp" alt="logo_circular"
                    class="contenedor-logo-img-nav" />
            </a>
            <h1 class="contenedor-logo-h1-nav">JustPickIt</h1>
        </div>
        <nav class="nav">
            <button id="btnNavDesplegable" class="btn-nav-desplegable">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="nav-menu" id="navMenu">
                <li class="nav-menu-item">
                    <a class="nav-menu-link" href="/ventas">Ventas</a>
                </li>
                <li class="nav-menu-item">
                    <a href="/dashboard" class="nav-menu-link">Dashboard</a>
                </li>
                <li class="nav-menu-item">
                    <a href="/alta" class="nav-menu-link">Alta</a>
                </li>
                <li class="nav-menu-item">
                    <button id="boton-theme">
                        <svg id="modo-claro" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                            width="24px" fill="#e3e3e3">
                            <path
                                d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z" />
                        </svg>
                        <svg id="modo-oscuro" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                            width="24px" fill="#e3e3e3">
                            <path
                                d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z" />
                        </svg>
                        <svg id="modo-JPI" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                            width="24px" fill="#e3e3e3">
                            <path
                                d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Z" />
                        </svg>
                    </button>
                </li>
            </ul>
        </nav>
    </header>

    <main class="principal container mt-4">
        <h1 class="mb-4">Listado de Ventas</h1>
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID Venta</th>
                    <th>ID Ticket</th>
                    <th>Comprador</th>
                    <th>Fecha</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody id="ventas-body">
                <!-- Aquí se inyectarán las filas con JS -->
            </tbody>
        </table>
    </main>
    <footer class="footer nunito">
        <div class="contenido-footer">
            <div class="empresa-footer">
                <img class="img-logo-mannaka" src="./resources/img/mannaka_logo.png" alt="logo de Mannaka Tech">
                © 2025 Mannaka Tech, Inc
            </div>

            <div class="parti-footer">
                <svg class="parti-logo-footer" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="#434343">
                    <path
                        d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z" />
                </svg>
                <a href="https://github.com/JoacoA13" class="parti-link-footer">
                    <i class="fa-brands fa-github"></i>
                    Astorino Joaquin
                </a>
                <a href="https://github.com/LucasArd" class="parti-link-footer">
                    <i class="fa-brands fa-github"></i>
                    Aranda Lucas
                </a>
            </div>
        </div>
    </footer>


    <script type="module" src="/service/ventas.js"></script>
</body>

</html>